* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Comic Neue', cursive;
}

#nav, #form, #tools {
    background-color: rgb(108, 216, 108);
}



#tools {
    margin-top: 3rem;
}

#landing {
    background-image: url("/images/bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


